@model FileModel
<div class=" bg-primary m-1 p-1 text-white text-center">
    <h4>Добавление файла</h4>
</div>
@* <div class="text-danger" asp-validation-summary="All"></div> *@
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group form-row">
        <label asp-for="FileType" class="col-sm-2">Тип файла</label>
        <select asp-for="FileType" class="form-control col" asp-items="Html.GetEnumSelectList<FileAppType>()">
        </select>
    </div>
    <div class="form-group form-row">
        <input asp-for="File" type="file" id="upload-file" style="display: none;"/>
        <input type="button" value="Выбрать файл" class="col-sm-2 mr-1"
        onclick = "document.getElementById('upload-file').click();"/>
        <input type="text" asp-for="FullPath" id="uload-file-name" class = "col"
            placeholder="Измените имя загружаемого файла или введите Url файла">
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary text-white">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
<script>
    const urlRegex = /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/;
    document.getElementById("upload-file").addEventListener('change',
        (evt) => {
            if (evt.target.value) {
                //Если выбрали файл то заносим имя файла в поле
                const filename = evt.target.value.replace(/^.*[\\\/]/, '')
                document.getElementById("uload-file-name").value = evt.target.value;
            } else {
                document.getElementById("uload-file-name").value = "";
            }
        }
    );
    document.getElementById("uload-file-name").addEventListener('change',
        (evt) => {
            if (evt.target.value && evt.target.value.match(urlRegex)) {
                //Если ввели uri то ичистить выбранный файл
                document.getElementById("upload-file").value = "";
            }
        }
    )
</script>