@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
            <span class="nav-link text-dark" title="Username">@User.Identity.Name</span>
            <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Logout</button>
        </form>
    }
    else
    {
        <form class="form-inline" method="post" asp-controller="Account" asp-action="Login">
            <input class="form-control mr-sm-2" placeholder="Username" name="name" />
            <input class="form-control mr-sm-2" placeholder="Password" name="password" type="password" />

            <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Login</button>
        </form>

    }
</ul>
