@model MovieViewModel
@section Links{
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
}

<form method="post" asp-action="Create">
   Color picker 
  <div id="selectBackgrounColor" class="input-group input-group-sm" title="Выберите цвет фона для страницы фильма">
    <div class="input-group-prepend">
      <label asp-for="Movie.BackgroundColor" class="input-group-text"></label>
    </div>
    <input type="text" class="form-control input-sm" placeholder="Выберите цвет фона для страницы фильма"
      value="#DD0F20FF" asp-for="Movie.BackgroundColor" />
    <span class="input-group-append">
      <span class="input-group-text colorpicker-input-addon"><i></i></span>
    </span>
  </div>
   BackgroundImage 
  <div class="rounded input-group input-group-sm">
    <div class="input-group-prepend">
        
      <label asp-for="Movie.BackgroundImage" class="input-group-text"></label>
    </div>
    <select id="selectBackgroundImage" data-placeholder="Выберите фоновое изображение для страницы фильма"
      class="form-control select2-single input-sm" asp-for="Movie.BackgroundImage" asp-items="Model.ImageList">
    </select>
  </div>
   Постер 
  @*<div class="rounded input-group input-group-sm">
    <div class="input-group-prepend">
      <label asp-for="Movie.Poster" class="input-group-text"></label>
    </div>
    <select id="selectPoster" data-placeholder="Выберите постер фильма"
      class="form-control select2-single input-sm" asp-for="Movie.Poster" asp-items="Model.ImageList">
    </select>
  </div>*@

  <button type="submit" class="btn btn-primary text-white">Add</button>
  <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts{
<script src="~/lib/select2/js/select2.min.js"></script>
<script src="~/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script>

  $(document).ready(function () {
    //Инициируем колорпикер backgroundColor
    $('#selectBackgrounColor').colorpicker();
    // Инициируем selec backgroundImage
    $('#selectBackgroundImage').select2({
      theme: 'bootstrap',
    });
    // Инициируем selec backgroundImage
    $('#selectPosterImage').select2({
      theme: 'bootstrap',
    });
  });
</script>
}